.pageContent{
    width: 100%;
    display: flex;
    justify-content: center;
	align-items: center;
}
.profileContainer{
    width: 476px;
    padding: 32px 0px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.imageContainer{
    width: 476px;
    height: 476px;
	display: flex;
	flex-direction: column;
	align-items: center;
    cursor: pointer;
}
.imagePlaceholder{
    width: 100%;
    height: 100%;
    background-color: var(--secondary-main);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.textComponent{
	display: flex;
	height: 100%;
	margin-bottom: 10px;
}
.buttonComponent{
	background-color: bisque;
	align-items: center;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 16px;

}