.large_button{
    width: 100%;
    background-color: #634B7C !important;
    height: 3rem;;
}

.large_button:hover{
    background-color: #4f3c63 !important;
}
h2{
    color: #634B7C;
}
.large_field{
    width: 100%;
}