.small-layout-background{
    background-image: url("/public/assets/bailey-zindel-NRQV-hBF10M-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.small-layout-container {
    background-color: white;
    border-radius: 8px;
    max-width: 504px;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto; /* Adiciona margem automática para centralizar */
}