/* Arquivo Dashboard.css */

.dashboard-container-title{
	max-width: 800px;
	margin: 0 auto;
  }
  
  .page-title {
	font-size: 36px; /* tamanho da fonte aumentado para 36 pixels */
	font-weight: bold;
	margin: 0;
	color: #634B7C; /* cor da fonte alterada para um tom de cinza mais escuro */
	font-family: 'Angelinne';
	text-align: center;
	margin: 24px 0;
  }
  
  .page-title h1 {
	font-size: 24px;
	font-weight: bold;
	margin: 0;
  }
  
  .title-divider {
	height: 2px;
	background-color: #ccc;
	margin-top: 10px;
	margin-bottom: 20px;
  }
  
  .page-content {
	/* Estilize o conteúdo da página conforme necessário */
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 5px;
  }
  