/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */

  @import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}
.contentDashboard{
  height: 100%;
  width: 90%
}

.contentDashboard h3{
  color:#634B7C;
  font-family: 'Allura', cursive;
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
}

.side-menu {
  min-width: 250px;
  height: 100%;
  background-color: var(--background);
  padding: 64px 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.side-menu .user-profile{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.side-menu .user-profile .user-profile-image-container{
  height: 150px;
  width: 150px;
  background-color: var(--primary-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.side-menu .user-profile .user-profile-image-container img{
  width: 100%;
  height: 100%;
  position: absolute;
}

.side-menu .user-profile .user-name{
  color: var(--primary-main);
  font-size: 1.4rem;
  font-weight: bold;
}

.side-menu .menu-list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 200px;
}

.side-menu .menu-list .list-item{
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: var(--secondary-main);
  padding: 8px 16px 8px 16px;
}

.side-menu .menu-list .list-item.active{
  color: var(--accent);
  
}

.side-menu .menu-list .list-item:hover{
  background-color: var(--primary-main);
}
.side-menu .logout-button{
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: var(--secondary-main);
  padding: 8px 16px 8px 16px;
  position: absolute;
  bottom: 16px;
}
.side-menu .logout-button:hover{
  background-color: var(--primary-main);
}
