/* body {
  margin: 0;
  font-family: Arial, sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");

.container {
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.side-menu {
  min-width: 250px;
  height: 100%;
  background-color: var(--primary-main);
  padding: 64px 0px 0px 0px;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.side-menu .user-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.side-menu .user-profile .user-profile-image-container {
  height: 50px;
  width: 50px;
  background-color: var(--primary-main);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.side-menu .user-profile .user-profile-image-container img {
  width: 100%;
  height: 100%;
  position: absolute;
}

.side-menu .user-profile .user-name {
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
}

.side-menu .menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-bottom: 200px;
}

.side-menu .menu-list .list-item {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: white;
  padding: 8px 16px 8px 16px;
  cursor: pointer;
}

.side-menu .menu-list .list-item.active {
  /* color: var(--accent); */
  background-color: white;
  color: var(--primary-main);
}

.side-menu .menu-list .list-item:hover {
  background-color: white;
  color: var(--primary-main);
}
.side-menu .logout-button {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 8px;
  color: var(--secondary-main);
  padding: 8px 16px 8px 16px;
  position: absolute;
  bottom: 16px;
}
.side-menu .logout-button:hover {
  background-color: var(--primary-main);
}

.content {
  height: 100%;
  width: 100%;
  flex-grow: 1;
  box-sizing: border-box;
}

.cotent .content-title{
  width: 100%;
  box-sizing: border-box;
}
.content h1 {
  color: var(--primary-main);
  font-family: "Allura", cursive;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.content hr{
  border: none;
  border-top: 0.5px solid;
  color: var(--secondary-main);
}
