.text-field {
    margin: 16px 0; /* Reduzi a margem superior e inferior para 16px */
}

.text-field label {
    display: block;
    margin-bottom: 4px; /* Reduzi o espaçamento entre a label e o input */
    font-size: 18px; /* Reduzi o tamanho da fonte da label para 18px */
}

.text-field input {
    background-color: white;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.06); /* Reduzi o tamanho da sombra */
    width: 100%;
    border: none;
    font-size: 18px; /* Reduzi o tamanho da fonte do input para 18px */
    padding: 12px; /* Reduzi o preenchimento para 12px */
    box-sizing: border-box;
}