.signup-container {
  width: 100%;
  height: 100%;
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  box-sizing: border-box;
}

.signup-container .back-icon-container {
  position: absolute;
  top: 16px;
  left: 16px;
}

.signup-container .signup-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--primary-main);
  text-align: center;
}

.signup-title .icon-container{
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color: #634b7c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container .form-alert {
  min-height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signup-container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup-container .name-fields-container {
  width: 100%;
  display: flex;
  gap: 16px;
}
