[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
djongo = "==1.3.6"
pytz = "*"
pymongo = "==3.12.3"
python-dotenv = "*"
pymongo[srv] = "*"

[dev-packages]

[requires]
python_version = "3.11"
