.edit-profile h1 {
    color: #634B7C;
    font-family: 'Alatsi', sans-serif;
    margin-top: 20px;
}
.edit-profile{
    border: 1px solid #634B7C;
    height: 100%;
}
.edit-profile form {
    color: #995C99;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%; 
    margin-left: 80px; 
    align-items: center;
}

.edit-profile button {
    margin-top: 24px;
    margin-bottom: 1rem;
    color: #634B7C;
    background-color: #E8D9E8;
    gap: 1rem;
	align-self: 'flex-end';
    margin-left: 24px ;
}
.edit-profile-dados{
    font-size: 18px;
}
.edit-profile-seguranca button{
    width: 200px;
}
