.content{
    background-image: url("/public/assets/bailey-zindel-NRQV-hBF10M-unsplash.jpg");
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    color: black;
}

.auth-wrapper-container {
    background-color: white;
    height: 42%; /* Ajuste a altura conforme necessário */
    width: 42%; /* Ajuste a largura conforme necessário */
    max-width: 504px;
    box-shadow: -5px 0px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: auto; /* Adiciona margem automática para centralizar */
}


.backArrow-icon-container{
    position: absolute;
    top: 10px;
    left: 10px;
    
}


.name-fields-container{
    width: 100%;
    max-width: 500px;
    display: flex;
    gap: 16px
}

